



.login{

  display: flex;
  outline: none;
  position: relative;
  width: 900px;
 
  height: 500px;
 margin: auto;
margin-top: 30px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#left{
  width: 400px;
  background-color: #00A699;
  height: 500px;
  display: flex;
  align-content: center;
 }
 .logintext{
  position: relative;
  bottom: 50px;
  font-family : Red Hat Display, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
  color: rgb(255, 255, 255);
  
  }

  #left div{
    
    position: relative;
    bottom: 40px;
    width: 220px;
    margin: auto;
}
#left div img{
  width: 400px;
    position: relative;
    top: 120px;
}

#right{
  /* border: 2px solid black; */
  width: 560px;
  height: 500px;

}
.form{
 
  margin: auto;
  margin-top: 50px;
 width: 360px;
  /* border: 1px solid red; */
}

.form.active{
  display: none;
}


.input{
  width: 400px;
  margin-bottom: 10px;
  height: 40px;
  
  outline: none;
  border: 1px solid #2E3192;
  border-top: none;
  border-left: none;
  border-right: none;
}

.input ::placeholder{
  color: #2E3192;
  font-size: 30px;
}

.btnlogin{
 margin-left: 20px;
  margin-top: 10px;
  width: 359px;
  margin-bottom: 10px;
  height: 45px;
  border: none;
  background-color: #00A699;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  color: #fff;
  font-family : Red Hat Display, sans-serif;
   letter-spacing: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.T_C{
  margin-top: 10px;
color: #2E3192;

}
.form{
  margin-top: 60px;
  font-family : Red Hat Display, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgb(135, 135, 135);
}

#newaccount{
  margin: auto;
  font-family : Red Hat Display, sans-serif;
  margin-left: 150px;
  font-weight: 700;
  font-size: 15px;
  color: #2E3192;
  cursor: pointer;
  position: relative;
  top: 200px;
  text-decoration: none;
  letter-spacing: 0;
}

.Bread{
  margin-top: 30px;
    margin-left: 350px;
  
  
  }

  

.btnloginOtp{
  margin-top: 10px;
  width: 359px;
  margin-left: 20px;
  height: 45px;
  background-color: #2E3192;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border: none;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.resendotp{
  text-align: center;
  margin-top: 32px;
  color: #878787;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
}
#Resend{
  color: #2E3192;
  font-weight: 700;
  cursor: pointer;
}
#Resend{
  color: #2E3192;
  font-weight: 700;
  cursor: pointer;
}
.banner {

  margin: auto;
  margin-top: 30px;
  width: 900px;
  
}

.otpgen{
  margin-left: 20px;
  margin-top: 10px;
  width: 359px;
  margin-bottom: 10px;
  height: 45px;
  border: none;
  background-color: #00A699;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  color: #fff;
  font-family : Red Hat Display, sans-serif;
   letter-spacing: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

#otpnewaccount{
  margin: auto;
  font-family : Red Hat Display, sans-serif;
  margin-left: 150px;
  font-weight: 700;
  font-size: 15px;
  color: #2E3192;
  cursor: pointer;
  position: relative;
  top: 130px;
  text-decoration: none;
  letter-spacing: 0;
}